<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlAcceso</servlet-name>
        <servlet-class>com.edu.pe.controlador.ControlAcceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlConsulta</servlet-name>
        <servlet-class>com.edu.pe.controlador.ControlConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaPaciente</servlet-name>
        <servlet-class>com.edu.pe.controlador.ConsultaPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPaciente</servlet-name>
        <servlet-class>com.edu.pe.controlador.ControlPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlReporte</servlet-name>
        <servlet-class>com.edu.pe.controlador.ControlReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlAcceso</servlet-name>
        <url-pattern>/ControlAcceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlConsulta</servlet-name>
        <url-pattern>/ControlConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaPaciente</servlet-name>
        <url-pattern>/ConsultaPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPaciente</servlet-name>
        <url-pattern>/ControlPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlReporte</servlet-name>
        <url-pattern>/ControlReporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
